/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5b7fd2;
  --ifm-color-primary-dark: #436dcc;
  --ifm-color-primary-darker: #3863c8;
  --ifm-color-primary-darkest: #2d52a5;
  --ifm-color-primary-light: #7391d8;
  --ifm-color-primary-lighter: #7e9bdc;
  --ifm-color-primary-lightest: #a2b6e5;
}
[data-theme="dark"] {
  --ifm-color-primary: #b3ccff;
  --ifm-color-primary-dark: #88afff;
  --ifm-color-primary-darker: #72a0ff;
  --ifm-color-primary-darkest: #3175ff;
  --ifm-color-primary-light: #dee9ff;
  --ifm-color-primary-lighter: #f4f8ff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #26272c;
}
.navbar__logo img {
  border-radius: 100%;
}

.blog-list-page h2,
.blog-post-page h2 {
  font-size: 10px;
}
