/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9757c1;
  --ifm-color-primary-dark: #8a44b8;
  --ifm-color-primary-darker: #8240ae;
  --ifm-color-primary-darkest: #6b358f;
  --ifm-color-primary-light: #a46bc9;
  --ifm-color-primary-lighter: #aa76cc;
  --ifm-color-primary-lightest: #bd94d8;
}

[data-theme="dark"] {
  --ifm-color-primary: #5cceff;
  --ifm-color-primary-dark: #39c4ff;
  --ifm-color-primary-darker: #28beff;
  --ifm-color-primary-darkest: #00aaf3;
  --ifm-color-primary-light: #7fd8ff;
  --ifm-color-primary-lighter: #90deff;
  --ifm-color-primary-lightest: #c4edff;
}
.navbar__logo img {
  border-radius: 100%;
}
