/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #615bd2;
  --ifm-color-primary-dark: #4a43cc;
  --ifm-color-primary-darker: #3f38c8;
  --ifm-color-primary-darkest: #332da5;
  --ifm-color-primary-light: #7873d8;
  --ifm-color-primary-lighter: #837edc;
  --ifm-color-primary-lightest: #a5a2e5;
}
[data-theme="dark"] {
  --ifm-color-primary: #b3ccff;
  --ifm-color-primary-dark: #88afff;
  --ifm-color-primary-darker: #72a0ff;
  --ifm-color-primary-darkest: #3175ff;
  --ifm-color-primary-light: #dee9ff;
  --ifm-color-primary-lighter: #f4f8ff;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-background-color: #26272c;
}
.navbar__logo img {
  border-radius: 100%;
}
